*{
    height: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.cotnainer{
    padding: 20px;
    position: relative;
}


.box{
    height: 100px;
    width: 150px;
    background-color: red;
    animation-name:moving ;
    animation-iteration-count: infinite;
    animation-duration:5s ;
    position: absolute;
    /* animation-direction:alternate ; */
    animation-delay:2s ;
    animation-timing-function: linear;
    /* animation-fill-mode:forward ; */
}


@keyframes moving{
    0%{
        background-color: orange;
        top: 10px;
        left: 10px;

    }
    25%{
        background-color: blue;
        top: 10px;
        left: 1000px;
    }
    50%{
        background-color: white;
        top: 500px;
        left: 1000px;
    }
    75%{
        background-color: green;
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
}